# -*- mode: ruby -*-
# vi: set ft=ruby :

system("
    if [ #{ARGV[0]} = 'up' ]; then
        echo 'You are doing vagrant up and can execute your script'
        ansible-galaxy install -r requirements.yml --force
    fi
")

VAGRANT_VERSION = 2

PROVIDER = "{{ provider }}"
NETWORK_PREFIX = "192.128.10."
v_playbook = 'test.yml'
v_playbook = ENV['ANSIBLE_PLAYBOOK'] if ENV['ANSIBLE_PLAYBOOK']

Vagrant.configure(VAGRANT_VERSION) do |config|

    config.vm.provider :virtualbox do |prov|
        prov.cpus = {{ prov_cpus }}
        prov.memory = {{ prov_ram }}
        prov.customize ["modifyvm", :id, "--natdnshostresolver1", "on"]
        prov.customize ["modifyvm", :id, "--ioapic", "on"]
    end

    {% for box in boxes %}
	config.vm.define "{{ box.type }}" do |{{ box.type }}|
		{{ box.type }}.vm.box = "{{ box.box }}"
		{{ box.type }}.vm.hostname = "{{ newrole_name }}-{{ box.type }}"
        {{ box.type }}.vm.network :private_network, ip: NETWORK_PREFIX + "{{ loop.index + 9 }}"
        # Run Ansible
		{{ box.type }}.vm.provision :ansible do |ansible|
			ansible.playbook = v_playbook
      ansible.raw_arguments = Shellwords.shellsplit(ENV['ANSIBLE_ARGS']) if ENV['ANSIBLE_ARGS']
		end
	end
    {% endfor %}
end
